#img{
    width:40%;
    height:250px;
    border-radius:10px;
    margin-left:5%;
}
.box{
    width:40%;
    height:100px;
    background-color:rgba(70, 70, 70, 0.432);
    position:relative;
    border-radius:10px;
    margin-left:5%;
    margin-top:-9.3%;
    text-align:center;
    
}
.box a,p{
    text-decoration:none;
    color:white;
}
 a :hover{
    zoom: 110%;
    color:red;
}
.header , .footer {
    width:100%;
    height:50px;
    background-color:salmon;
    border-radius:10px;
}

.header{
    margin-top:-1.5%;
}
.footer{
    position:relative;
    margin-top:100%;
}

h3{
    font-family:cursive;
    /* color :; */
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.link{
    width:50%;
    height:30px;
    background-color:aqua;
    margin-top:-1.6%;
    border-radius:10px;
}
#a a{
    text-decoration: none;
    color:salmon;
}